{{ define "add" }}
{{ template "header" }}

<div class="card">
    <div class="card-header font-weight-bolder">
        Add employee
    </div>

    <div class="card-body">
        
        <form action="/insert" method="post">
            <div class="form-group">
              <label for="">Name</label>
              <input type="text"
                class="form-control" name="name" id="name" aria-describedby="nameHelpId" placeholder="">
              <small id="nameHelpId" class="form-text text-muted">Write the employee name</small>
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
              <small id="emailHelpId" class="form-text text-muted">Write the employee email</small>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
            <a class="btn btn-warning" href="/" role="button">Cancel</a>
        </form>

    </div>
</div>

{{ template "footer" }}
{{ end }}