{{ define "edit" }}
{{ template "header" }}

<div class="card">
    <div class="card-header font-weight-bolder">
        Edit Employee
    </div>

    <div class="card-body">
        <form action="/update" method="post">
            <div class="form-group">
                <input readonly type="hidden" class="form-control" name="employeeId" id="employeeId" value="{{.Id}}">
            </div>
            <div class="form-group">
              <label for="">Name</label>
              <input type="text"
                class="form-control" name="name" id="name" aria-describedby="nameHelpId" value="{{.Name}}">
              <small id="nameHelpId" class="form-text text-muted">Edit the employee name</small>
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" value="{{.Email}}">
              <small id="emailHelpId" class="form-text text-muted">Edit the employee email</small>
            </div>
            <button type="submit" class="btn btn-success">Edit</button>
            <a class="btn btn-warning" href="/" role="button">Cancel</a>
        </form>
    </div>
</div>

{{ template "footer" }}
{{ end }}