{{ define "footer" }}

    </div>

    <footer>
        <div class="container-fluid">
            <div class="d-flex row justify-content-center">
                <span class="text-center">
                    Mauro Vargas <i class="fa fa-copyright" aria-hidden="true"></i> - 2021
                </span>
            </div>
        </div>
    </footer>

  </body>
</html>

{{ end }}