{{ define "index" }}
{{ template "header" }}

    <a class="btn btn-primary" href="/add" role="button">Add employee</a>

      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              {{ range.}}
              <tr>
                  <td scope="row">{{.Id}}</td>
                  <td>{{.Name}}</td>
                  <td>{{.Email}}</td>
                  <td>Edit {{.Id}} | 
                    
                    <a name="" id="" class="btn btn-danger" href="/delete?id={{.Id}}" role="button">Delete</a>
                    </td>
              </tr>
              {{ end }}
          </tbody>
      </table>

{{ template "footer" }}
{{ end }}