{{ define "index" }}
{{ template "header" }}

    <a class="btn btn-primary" href="/add" role="button">Add employee</a>

      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td scope="row">0</td>
                  <td>Mauro Vargas</td>
                  <td>mauricio.vargas@triario.com</td>
                  <td>Edit | Delete</td>
              </tr>
          </tbody>
      </table>

{{ template "footer" }}
{{ end }}